apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  annotations:
    run.googleapis.com/ingress: all
    run.googleapis.com/ingress-status: all
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/vpc-access-egress: all-traffic
        run.googleapis.com/vpc-access-connector: projects/airspot-krules-companion-dev/locations/europe-west4/connectors/redis-connector
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ app_name }}
        env:
        {% if target == "dev" %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "0"
        - name: PUBLISH_PROCEVENTS_MATCHING
          value: "*"
        {% else %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "0"
        {% endif %}
        - name: PROJECT_NAME
          value: {{ project_name }}
        - name: PUBSUB_SINK
          value: {{ project_name }}-ingestion-{{ target }}
        - name: PUBSUB_PROCEVENTS_SINK
          value: {{ project_name }}-procevents-{{ target }}
        - name: TARGET
          value: {{ target }}
        - name: GOOGLE_CLOUD_PROJECT
          value: {{ project_id }}
        - name: REDIS_KEY_PREFIX
          value: {{ project_name }}-{{ target }}
        - name: REDIS_URL
          value: redis://:b3dc2c56-8674-4244-af50-fa31355915f5@10.145.144.115:6379/0
