apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
  annotations:
    run.googleapis.com/ingress: internal
    run.googleapis.com/ingress-status: internal
spec:
  template:
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ app_name }}
        env:
        {% if target == "dev" %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "2"
        - name: PUBLISH_PROCEVENTS_MATCHING
          value: "*"
        {% else %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "0"
        {% endif %}
        - name: PROJECT_NAME
          value: {{ project_name }}
        - name: PUBSUB_SINK
          value: {{ project_name }}-ingestion-{{ target }}
        - name: PUBSUB_PROCEVENTS_SINK
          value: {{ project_name }}-procevents-{{ target }}
        - name: TARGET
          value: {{ target }}
        - name: GOOGLE_CLOUD_PROJECT
          value: {{ project_id }}
        volumeMounts:
        - name: firebase-auth
          readOnly: true
          mountPath: /var/secrets/firebase
      volumes:
      - name: firebase-auth
        secret:
          secretName: firebase-auth
          items:
          - key: latest
            path: firebase-auth
