apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ app_name }}
  annotations:
    run.googleapis.com/ingress: internal-and-cloud-load-balancing
    run.googleapis.com/ingress-status: internal-and-cloud-load-balancing
spec:
  template:
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ app_name }}
        env:
        {% if target == "dev" %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "0"
        - name: PUBLISH_PROCEVENTS_MATCHING
          value: "*"
        {% else %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "0"
        {% endif %}
        - name: PROJECT_NAME
          value: {{ project_name }}
        - name: PUBSUB_SINK
          value: {{ project_name }}-ingestion-{{ target }}
        - name: PUBSUB_PROCEVENTS_SINK
          value: {{ project_name }}-procevents-{{ target }}
        - name: TARGET
          value: {{ target }}
        - name: GOOGLE_CLOUD_PROJECT
          value: {{ project_id }}
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              key: '1'
              name: ingestion-api-key
        - name: CELERY_BROKER
          valueFrom:
            secretKeyRef:
              key: '1'
              name: celery-broker
        - name: CELERY_RESULTS_BACKEND
          valueFrom:
            secretKeyRef:
              key: '1'
              name: celery-results-backend
