apiVersion: skaffold/v3alpha1
kind: Config
build:
  artifacts:
    - image: {{ app_name }}
      context: ".build"
  googleCloudBuild:
    projectId: {{ project_id }}
deploy:
  cloudrun: {}
profiles:
{% for target in targets %}
  - name: {{ target }}
    manifests:
      rawYaml:
       - k8s/{{target}}/*.yaml
{% endfor %}
