apiVersion: skaffold/v3alpha1
kind: Config
profiles:
{% for target in targets %}
  - name: {{ target.name }}
    manifests:
      rawYaml:
       - k8s/{{ target.name }}/*.yaml
    build:
      artifacts:
        - image: {{ app_name }}
      {% if target.use_cloudbuild%}
      googleCloudBuild:
        projectId: {{ target.project_id }}
      {% else %}
      local:
        useDockerCLI: false
        useBuildkit: false
      {% endif %}
    deploy:
      {% if target.use_cloudrun %}
      cloudrun:
        projectid: {{ target.project_id }}
        region: {{ region }}
      {% else %}
      kubectl:
        defaultNamespace: {{ target.namespace }}
        {% if target.kubectl_opts|length > 0 %}
        flags:
          global:
          {% for opt in target.kubectl_opts %}
            - {{ opt }}
          {% endfor %}
        {% endif %}
      {% endif %}
{% endfor %}