apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/vpc-access-egress: all-traffic
        run.googleapis.com/vpc-access-connector: projects/airspot-krules-companion-dev/locations/europe-west4/connectors/redis-connector
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ app_name }}
        # ports:
        # - containerPort: 8080
        env:
        {% if target == "dev" %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "2"
        - name: PUBLISH_PROCEVENTS_MATCHING
          value: "*"
        {% else %}
        - name: PUBLISH_PROCEVENTS_LEVEL
          value: "0"
        {% endif %}
        - name: PROJECT_NAME
          value: {{ project_name }}
        - name: TARGET
          value: {{ target }}
        - name: REDIS_HOST
          value: 10.145.144.115
        - name: REDIS_PORT
          value: 6379
        - name: REDIS_DB
          value: 0
        - name: REDIS_AUTH
          valueFrom:
            secretKeyRef:
              key: '1'
              name: redis-auth
        - name: PUBSUB_SINK
          value: {{ project_name }}-default-sink-{{ target }}
        - name: PUBSUB_PROCEVENTS_SINK
          value: {{ project_name }}-procevents-{{ target }}
        volumeMounts:
        - name: firebase-auth
          readOnly: true
          mountPath: /var/secrets/firebase
      volumes:
      - name: firebase-auth
        secret:
          secretName: firebase-auth
          items:
          - key: latest
            path: firebase-auth
