<div class="kr-dialogs-content-wrapper">

  <h3>Deleting <i>{{data.group['id']}}</i></h3>
  <p>Are you sure you want to delete this group?</p>

  <div class="kr-spacer-base"></div>

  <mat-form-field class="full-width">
    <mat-label>Type group ID to confirm its deletion</mat-label>
    <input type="text" [(ngModel)]="groupConfirm" matInput>
  </mat-form-field>
  <div class="kr-spacer-micro"></div>
  <small class="kr-text-danger">NOTE: deletion could take many hours, depending on the size of data stored!</small>

</div>

<mat-dialog-actions align="end" class="kr-dialogs-btn-wrapper">
  <button color="warn" (click)="deleteGroup()" cdkFocusInitial [disabled]="groupConfirm!=data.group['id']" mat-raised-button mat-dialog-close>Delete {{data.group['id']}}</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
